.nav {
    display: flex;
    gap: 20px;
    border-bottom: 3px solid #888;
}

.nav-link {
    color: #888;
    padding: 20px 0;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
    color: #d84040;
}

.active {
    color: #d84040;
}