.nav {
    display: flex;
    gap: 20px;
}

.nav-link {
    color: #888;
    padding: 20px 0;
    text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
    color: #d84040;
}

.active {
    color: #d84040;
}